body {
  background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Запрет горизонтальной прокрутки */

}

label, input, div {
  display: block;
}
label {
  width: 80px;
}
input {
  width: calc(100% - 20px);
  margin: 0 0 10px 5px;
}

.App {
  text-align: center;
}

.item {
  width: 400px;
  margin-bottom: 60px;
  border: 1px white solid;
  padding: 20px;
}
.delete {
  position: relative;
  top: -15px;
  left: 200px;
  height: 10px;
  cursor: pointer;
}

.create-section {
  margin-bottom: 60px;
}
.create {
  padding: 20px 20px 0 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0px solid wheat;
}
.create .text-block {
  width: 92%;
}
.create button{
  height: 85px;
}
.create .add-new-type {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: large;
  font-weight: 600;
  border: none;
}

.key-field {
  width: 60px;
}

.info {
  display: flex;
}

.documentaion-section {
  position: absolute;
  top: 0;
  right: 0;
}

#display {
  width: 100%;
  display: flex;
  justify-content: center;
}
